name: download and upload video

on:
  workflow_dispatch:
    inputs:
      link:
        required: true
        description: 链接
      output:
        required: true
        description: 输出名称

env:
  BILI_UP_VER: v0.1.14

jobs:
  main:
    concurrency: download-and-upload
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: install dependency
        run: |
          sudo apt-get update
          sudo apt-get install aria2 -y
          curl https://rclone.org/install.sh | sudo bash
      - name: write secret
        run: |
          export rpath=`rclone config file | tail -n1`
          echo $rpath
          export rdir=`dirname $rpath`
          echo $rdir
          mkdir -p $rdir
          echo -e '${{secrets.RCLONE_SECRET}}' > $rpath
          ls -lh $rpath
          rclone listremotes
      - name: download
        run: aria2c "${{ inputs.link }} --enable-dht false -s 10 --out ${{ inputs.output }}"
      - name: upload
        run: rclone copy ${{ inputs.output }} onedrive:/
      - name: delete
        run: rm -rf ${{ inputs.output }}
